.ratingCard {
  min-height: 130px;
  min-width: 366px;
  border: 1px solid #d0d7dd;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.ratingSidebar {
  width: 200px;
  height: 80px;
  background-color: #ecfcff;
  border-radius: 10px;
  padding-left: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  overflow: hidden;
  transition: width 0.4s ease, height 0.4s ease, border-radius 0.4s ease;
}

.ratingSidebarInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 150px;
  transition: gap 0.4s ease, width 0.4s ease;
}

.ratingSidebarInfoCount {
  font-size: 14px;
  transition: font-size 0.2s ease;
}

.ratingSidebar.smWidgetSidebar {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-color: #ecfcff;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 0;
  overflow: hidden;
  cursor: pointer;
}

.ratingSidebarBtn {
  transition: font-size 0.2s ease, width 0.2s ease;
  width: 100px;
}

.smRatingSidebarBtn {
  display: block !important;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s ease, opacity 0.4s ease;
}

.smWidgetSidebarInfo {
  padding-left: 65px;
  gap: 2px;
}

.smRatingSidebarBtn,
.smRatingSidebarInfoCount {
  font-size: 0px;
}

.skeletonRating {
  min-height: 130px;
  min-width: 366px;
  background: linear-gradient(90deg, #bbc1c3 25%, #d4d8da 50%, #bbc1c3 75%);
  background-size: 200% 100%;
  border-radius: 20px;
  animation: shimmer 1.5s infinite;
}

.skeletonSidebarRating {
  min-height: 200px;
  min-width: 80px;
  background: linear-gradient(90deg, #bbc1c3 25%, #d4d8da 50%, #bbc1c3 75%);
  background-size: 200% 100%;
  border-radius: 20px;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
