.reviewContainer {
  border-bottom: 1px solid black;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 10px;
  width: 600px;
}

.reviewStarsRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.notificationTag {
  border: 1px solid orange;
  background-color: orange;
  border-radius: 20px;
  font-size: 12px;
  padding: 2px 10px;
  margin-left: 10px;
}
