.ratingInfoWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  gap: 30px;
}

.ratingInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  position: relative;
}

.showCircle::after {
  content: "";
  position: absolute;
  top: 0;
  right: 12px;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background-color: orange;
  border: none;
}

.ratingInfoCount {
  font-size: 14px;
}
