.sidebarWrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px;
  background-color: #f5eff8;
  z-index: 1;
  transition: width 0.6s ease;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.sidebarWrapper.closeSidebar {
  width: 80px;
}

.sidebarToggle {
  position: absolute;
  top: 10px;
  left: -11px;
  border: 1px solid #dbd3df;
  background-color: #f5eff8;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.2s;
}

.sidebarToggle:hover {
  opacity: 0.7;
}

.errorWidgetSidebar {
  width: 200px;
  height: 80px;
  margin-top: 30px;
  background-color: #d0f3fb;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.ratingCell {
  margin-top: 30px;
}
